.history {
  background-color: #fff;
  border-radius: 20px;
  padding: 32px 38px 27px 27px;
  height: 324px;

  // .history__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  // .history__title

  &__title {
    color: #9e9e9e;
    font-weight: 600;
  }

  // .history__filter

  &__filter {
    display: flex;
    align-items: center;
  }

  // .history__filter-input

  &__filter-input {
    width: 218px;
    background-color: #f5f5f5;
    border-radius: 32px;

    padding: 15px;
    margin-right: 26px;
  }

  // .history__filter-btn

  &__filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;

    border-radius: 100%;
    background-color: #6e468f;
  }

  // .history__inner

  &__inner {
    overflow-y: scroll;
    height: 200px;
    padding-right: 30px;

    &::-webkit-scrollbar {
      background: #6e468f;
      width: 3px;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #a3a46e;
      border-radius: 5px;
    }

    padding-right: 30px;
  }

  // .history__item

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  // .history__profile

  &__profile {
    display: flex;
    align-items: center;
  }

  // .history__profile-img

  &__profile-img {
    width: 65px;
    height: 65px;
    margin-right: 16px;
  }

  // .history__profile-content

  &__profile-content {
    display: flex;
    flex-direction: column;
  }

  // .history__profile-name

  &__profile-name {
    padding-bottom: 5px;
    font-weight: 600;
  }

  // .history__profile-from

  &__profile-from {
    font-size: 12px;
  }

  // .history__date

  &__date {
    display: flex;
    flex-direction: column;
  }

  // .history__date-text

  &__date-text {
    font-weight: 600;
    padding-bottom: 12px;
  }

  // .history__date-time

  &__date-time {
    font-size: 14px;
    color: #808080;
  }

  // .history__price

  &__price {
  }

  // .history__price-text

  &__price-text {
    font-weight: 600;
    font-size: 25px;
    color: #a3a46e;
  }

  // .history__price-currency

  &__price-currency {
    font-size: 14px;
    padding-right: 10px;
  }
}
